@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.custom-textfield {
  border: 1px #a3a3a3 solid !important;
  border-radius: 4px !important;
  overflow: hidden !important;

  div {
    padding: -10px !important;
    background-color: transparent !important;
  }
}

.form-fields {
  margin: 25px 0 0 0 !important;
}

.dialog-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dialog-header,
.dialog-actions {
  padding: 25px !important;
}

.card-content {
  padding: 20px 25px !important;
}

.dialog-content {
  padding: 0 25px !important;
}

.custom-button {
  padding: 7.5px 25px !important;

  span {
    color: #ffffff !important;
    letter-spacing: 0.125em !important;
  }
}

.button-submit {
  padding: 15.25px 25px !important;
}

.suppliers-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

@media only screen and (min-width: 767px) {
  .suppliers-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1140px) {
  .suppliers-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
