// error
$error-light: #e57373;
$error-main: #f44336;
$error-dark: #d32f2f;

// info
$info-light: #64b5f6;
$info-main: #2196f3;
$info-dark: #1976d2;
// warning
$warning-light: #ffb74d;
$warning-main: #ff9800;
$warning-dark: #f57c00;

// success
$success-light: #81c784;
$success-main: #4caf50;
$success-dark: #388e3c;
